{% assign document = include.post | default: post | default: page %}

{% if document.header.teaser %}
  {% capture teaser %}{{ document.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if document.id %}
  {% assign title = document.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = document.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title no_toc" itemprop="headline">
      {% if document.link %}
        <a href="{{ document.link }}">{{ title }}</a> <a href="{{ document.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ document.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% include page__meta.html post=document type=include.type %}
    {% if document.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ document.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>
